* {
  padding: 0;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans;
}

body {
  width: 940px;
  margin: 10px auto;
  background-color: #2b1507;
  color: #F3F3F3;
}

a {
  text-decoration: none;
}

#information {
  height: 300px;
  position: relative;
  background: transparent url('horde.png') no-repeat center right;
  font-family: Georgia, Times, sans-serif;
}
#information a { color: #F3F3F3; }
#information a:hover { border-bottom: 1px dotted #F3F3F3; }

#information h1 {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 20px;
}

#information h2#server-name {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 20px;
}

#information p {
  font-style: italic;
  width: 500px;
}

table#rares { border-collapse: collapse; width: 100%; border: 1px solid #33190B; }
table#rares td { padding: 10px; }
table#rares td,
table#rares td a { color: #ebdba2; }
table#rares td a:not(.edit):hover { border-bottom: 1px dotted #ebdba2; }

table#rares thead td {
  font-weight: bold;
  color: #F5EBD1;
  background: #4d1a08 url('table-header.gif') 0 100% repeat-x;
  border-bottom: 1px solid #1a0f08;
}
table#rares tbody tr:nth-child(odd) { background-color: #2b1507; border-top: 1px solid #31190a }
table#rares tbody tr:nth-child(even) { background-color: #231207; border-top: 1px solid #30190b }
table#rares tbody .edit {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('edit.png');
}

.ui-widget label,
.ui-widget select,
.ui-widget input {
  display: block;
  width: 100%;
  font-weight: normal;
}

.ui-widget label {
  margin-top: 15px;
  margin-bottom: 5px;
}

.ui-widget label:first-child {
  margin-top: 0px;
}

.ui-widget select,
.ui-widget input {
  padding: 6px;
  background-color: #F5EBD1;
  border: 1px solid #CCC;
}